.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.271382,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.271382,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.271382,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:27.738240px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:21.120000px;}
.fs4{font-size:23.571200px;}
.fs2{font-size:24.480000px;}
.fs0{font-size:27.360000px;}
.fs3{font-size:53.035200px;}
.yd{bottom:1.438200px;}
.y11{bottom:1.438300px;}
.yf{bottom:1.648300px;}
.y6{bottom:1.828200px;}
.y4{bottom:1.828300px;}
.y2{bottom:25.047000px;}
.y1{bottom:33.608900px;}
.y12{bottom:52.768600px;}
.y10{bottom:54.108200px;}
.ye{bottom:60.736800px;}
.y0{bottom:68.000000px;}
.yc{bottom:68.470200px;}
.yb{bottom:77.087400px;}
.ya{bottom:85.704500px;}
.y9{bottom:94.321700px;}
.y1c{bottom:117.616825px;}
.y1b{bottom:124.246225px;}
.y1a{bottom:130.875625px;}
.y8{bottom:137.407600px;}
.y19{bottom:137.505025px;}
.y18{bottom:144.134425px;}
.y7{bottom:146.024700px;}
.y17{bottom:150.763825px;}
.y16{bottom:157.393225px;}
.y1d{bottom:162.078422px;}
.y15{bottom:164.022625px;}
.y14{bottom:170.652025px;}
.y1e{bottom:224.233400px;}
.y13{bottom:239.082705px;}
.y5{bottom:287.655700px;}
.y3{bottom:296.272800px;}
.ha{height:6.128600px;}
.h8{height:7.233400px;}
.h6{height:8.117100px;}
.h3{height:8.117200px;}
.h7{height:14.633438px;}
.he{height:16.331803px;}
.h9{height:16.961484px;}
.hd{height:17.114441px;}
.h5{height:18.956953px;}
.h4{height:19.865391px;}
.h2{height:19.918828px;}
.hc{height:38.507491px;}
.h1{height:237.000000px;}
.hb{height:259.000000px;}
.h0{height:365.126900px;}
.w9{width:22.590400px;}
.w8{width:31.586600px;}
.w5{width:45.380800px;}
.w3{width:49.279200px;}
.w2{width:54.677000px;}
.w6{width:68.471200px;}
.w4{width:113.752300px;}
.w7{width:157.234100px;}
.wa{width:212.411100px;}
.w1{width:493.000000px;}
.w0{width:593.841900px;}
.xc{left:2.829400px;}
.xf{left:5.150900px;}
.x13{left:8.823400px;}
.xa{left:10.196000px;}
.x1a{left:13.133700px;}
.x11{left:15.421600px;}
.x12{left:17.359100px;}
.x6{left:18.362300px;}
.x14{left:22.906200px;}
.x7{left:24.194300px;}
.x15{left:31.394400px;}
.x4{left:37.537000px;}
.x18{left:40.672600px;}
.x8{left:46.552700px;}
.x0{left:51.000000px;}
.xe{left:59.538200px;}
.x17{left:154.394700px;}
.x19{left:158.559500px;}
.x2{left:161.750700px;}
.x9{left:165.525900px;}
.x16{left:187.058400px;}
.x1{left:188.197300px;}
.xb{left:211.406700px;}
.x1b{left:227.422619px;}
.xd{left:280.377900px;}
.x1c{left:352.552750px;}
.x3{left:438.112000px;}
.x10{left:470.198600px;}
.x5{left:493.289000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:36.984320pt;}
.fs1{font-size:28.160000pt;}
.fs4{font-size:31.428267pt;}
.fs2{font-size:32.640000pt;}
.fs0{font-size:36.480000pt;}
.fs3{font-size:70.713600pt;}
.yd{bottom:1.917600pt;}
.y11{bottom:1.917733pt;}
.yf{bottom:2.197733pt;}
.y6{bottom:2.437600pt;}
.y4{bottom:2.437733pt;}
.y2{bottom:33.396000pt;}
.y1{bottom:44.811867pt;}
.y12{bottom:70.358133pt;}
.y10{bottom:72.144267pt;}
.ye{bottom:80.982400pt;}
.y0{bottom:90.666667pt;}
.yc{bottom:91.293600pt;}
.yb{bottom:102.783200pt;}
.ya{bottom:114.272667pt;}
.y9{bottom:125.762267pt;}
.y1c{bottom:156.822433pt;}
.y1b{bottom:165.661633pt;}
.y1a{bottom:174.500833pt;}
.y8{bottom:183.210133pt;}
.y19{bottom:183.340033pt;}
.y18{bottom:192.179233pt;}
.y7{bottom:194.699600pt;}
.y17{bottom:201.018433pt;}
.y16{bottom:209.857633pt;}
.y1d{bottom:216.104563pt;}
.y15{bottom:218.696833pt;}
.y14{bottom:227.536033pt;}
.y1e{bottom:298.977867pt;}
.y13{bottom:318.776939pt;}
.y5{bottom:383.540933pt;}
.y3{bottom:395.030400pt;}
.ha{height:8.171467pt;}
.h8{height:9.644533pt;}
.h6{height:10.822800pt;}
.h3{height:10.822933pt;}
.h7{height:19.511250pt;}
.he{height:21.775738pt;}
.h9{height:22.615312pt;}
.hd{height:22.819254pt;}
.h5{height:25.275937pt;}
.h4{height:26.487187pt;}
.h2{height:26.558438pt;}
.hc{height:51.343322pt;}
.h1{height:316.000000pt;}
.hb{height:345.333333pt;}
.h0{height:486.835867pt;}
.w9{width:30.120533pt;}
.w8{width:42.115467pt;}
.w5{width:60.507733pt;}
.w3{width:65.705600pt;}
.w2{width:72.902667pt;}
.w6{width:91.294933pt;}
.w4{width:151.669733pt;}
.w7{width:209.645467pt;}
.wa{width:283.214800pt;}
.w1{width:657.333333pt;}
.w0{width:791.789200pt;}
.xc{left:3.772533pt;}
.xf{left:6.867867pt;}
.x13{left:11.764533pt;}
.xa{left:13.594667pt;}
.x1a{left:17.511600pt;}
.x11{left:20.562133pt;}
.x12{left:23.145467pt;}
.x6{left:24.483067pt;}
.x14{left:30.541600pt;}
.x7{left:32.259067pt;}
.x15{left:41.859200pt;}
.x4{left:50.049333pt;}
.x18{left:54.230133pt;}
.x8{left:62.070267pt;}
.x0{left:68.000000pt;}
.xe{left:79.384267pt;}
.x17{left:205.859600pt;}
.x19{left:211.412667pt;}
.x2{left:215.667600pt;}
.x9{left:220.701200pt;}
.x16{left:249.411200pt;}
.x1{left:250.929733pt;}
.xb{left:281.875600pt;}
.x1b{left:303.230159pt;}
.xd{left:373.837200pt;}
.x1c{left:470.070333pt;}
.x3{left:584.149333pt;}
.x10{left:626.931467pt;}
.x5{left:657.718667pt;}
}
